# Finetunned checkpoints
checkpoints/
!checkpoints/CHECKPOINTS_DECRIPTIONS.md

# Esnli Data
data/esnli/*
!data/esnli/esnli.dev.sent_highlight.contradiction.jsonl
!data/esnli/esnli.test.sent_highlight.contradiction.jsonl

# Fin10k Data
data/archived/
data/fin10k/*jsonl
data/fin10k/*jsonl.bak
data/fin10k/archived/
data/fin10k/type2.segments

# Results 
results/esnli/
results/fin10k/
results/esnli*
results/fin10k-demo/

# Others
__pycache__/
logs/
wandb/
*.swp
diff

# Excepted run file (for local experiments)
run_training_highlighter.sh
