# Finetunned checkpoints
checkpoints/
!checkpoints/CHECKPOINTS_DECRIPTIONS.md

# Data
logs/
data/esnli/
!data/esnli/esnli/esnli.train.sent_highlight.contradiction.jsonl
data/fin10k/
results/esnli/
results/fin10k/

# Others
*/__pycache__/
wandb/
*.swp
