*/__pycache__/

# deprecated
/sentence-highlighting/results/fin10k/type2.segments.result.jsonl
document-segmentation/wiki_727/*
sentence-highlighting/checkpoints/*
sentence-highlighting/data/scripts/esnli*
sentence-highlighting/logs/*
sentence-highlighting/data/*
sentence-highlighting/data/esnli/*
sentence-highlighting/data/fin10k/*
